<!DOCTYPE html><html>
<!--代码由www.magicalcoder.com可视化布局器拖拽生成 资源请自行下载到本地-->
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>学生考试查询</title>
<link href="https://lib.baomitu.com/element-ui/2.10.1/theme-chalk/index.css" rel="stylesheet"/>
<link href="http://lowcode.magicalcoder.com/magicalcoder/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.css" rel="stylesheet"/>
<!-- 如果要兼容ie8及以前版本 请打开注释--> <!-- <script src="http://www.magicalcoder.com/assets/ui/element/2.10.1/browser.min.js"></script><script src="http://www.magicalcoder.com/assets/ui/element/2.10.1/browser-polyfill.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.3/json3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/extension/dataTool.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://lib.baomitu.com/element-ui/2.10.1/index.js"></script>
<script src="http://www.magicalcoder.com/assets/js/common.js"></script>
<script src="http://lowcode.magicalcoder.com/magicalcoder/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.js"></script>
<style>

</style>

</head>
<body style="">
<div id="magicalDragScene" class="mc-root mc-ui-absolute-pane"><template>
	<el-menu style="position: absolute; left: 11.3854%; top: 19.4286%; height: 329px;" mode="vertical" :collapse-transition="false" :collapse="false" unique-opened>
		<el-menu-item class="mc-ui-flex-center" index="3">首页</el-menu-item>
		<el-menu-item id="uuid7ae4d9ae-a8cb-420f-b449-1c48b8287505" class="mc-ui-flex-center" index="uuid25b415cb-ec82-4311-bce6-edc3bc3ed891">我的信息</el-menu-item>
		<el-submenu id="uuid45118b67-efb3-485e-8244-3eec02a9b64c" index="uuida1a831b7-7326-4346-ac10-9a92e0162e6b">
			<span class="magical-drag-tmp-submenu-name" slot="title">考试信息</span>
			<el-menu-item index="uuid0bca567d-c849-4067-ae46-2c3f7f8d32f6">我的报名</el-menu-item>
			<el-menu-item id="uuidecb5a301-36e0-41fc-bb29-17c3149cddcd" index="uuidf1ff47d4-b9cd-46a2-aef3-b28625b4b313">考试报名</el-menu-item>
			<el-menu-item id="uuid76e9dd97-2fb3-4dc5-ac93-4b28e6db5c67" index="uuid823764b8-885f-42d1-9668-a7373f5a1ed5">学生缴费</el-menu-item>
		</el-submenu>
		<el-menu-item id="uuid13b02a37-d9a6-482e-9666-118effc804cd" class="mc-ui-flex-center" index="uuidf08d4d07-e3bf-4f4e-9c8c-f029fb921f6e">考试成绩</el-menu-item>
		<el-menu-item id="uuidf47a08c0-0dde-4fd4-af8d-4f7de20a21a9" class="mc-ui-flex-center" index="uuidb0582144-5b74-4a97-9842-994e22d8c03e">报名记录</el-menu-item>
		<el-menu-item id="uuid0753a7f7-a518-4c29-8cff-78bd5a40a6de" class="mc-ui-flex-center" index="uuid44c15f5a-6ab5-4861-bfd8-1b79bf9bdbdc">账户安全</el-menu-item>
	</el-menu>
	<i style="position: absolute; left: 44.9841%; top: 12.8571%; font-size: 25px;">我的报名</i>
	<i style="position: absolute; left: 31.449%; top: 48.5%;">我的准考证号：</i>
	<i style="position: absolute; left: 31.6083%; top: 59%;">我的座位号：</i>
	<i style="position: absolute; left: 31.449%; top: 69.4286%;">是否缴费：</i>
	<i style="position: absolute; left: 30.2946%; top: 38.5714%; width: 12.5%;">该考试的考试地点：</i>
	<i style="position: absolute; left: 31.6481%; top: 28.1429%; width: 9.79299%;">我目前的考试：</i>
	<el-input style="position: absolute; left: 58.6783%; top: 26.7857%; width: 25.6369%;" v-model="input" placeholder="请输入内容" autosize></el-input>
	<el-input id="uuidaea28aeb-8474-4687-a065-348bcb545967" style="position: absolute; left: 58.6783%; top: 37.2143%; width: 25.6369%;" v-model="input" placeholder="请输入内容" autosize></el-input>
	<el-radio-group style="position: absolute; left: 58.3599%; top: 69.4286%;" v-model="radioGroup">
		<el-radio label="1">已缴费</el-radio>
		<el-radio label="2">未缴费</el-radio>
	</el-radio-group>
	<el-input id="uuid3827fe3b-3f02-4630-bfc2-785ec74f89a3" style="position: absolute; left: 58.3599%; top: 57.7857%; width: 25.6369%;" v-model="input" placeholder="请输入内容" autosize></el-input>
	<el-input id="uuid761a970a-562d-435b-b7cb-aaa7b9b07bbe" style="position: absolute; left: 58.2803%; top: 47.3571%; width: 25.6369%;" v-model="input" placeholder="请输入内容" autosize></el-input>
	<el-button style="position: absolute; left: 58.6645%; top: 72.8571%;">前往缴费页面</el-button>
</template></div>
<script>
//ajax库采用axios
//调试:打开浏览器控制台(F12),在代码中某行增加 debugger 即可调试
var vueData = {input : "",/*别删我*/
radioGroup : ""};
var vueMethod = {focus : function (e) {try {_t.fastKey.focusElem(e);}catch(e) {}},/*别删我*/
_tabClick : function(){setTimeout(function(){new McECharts().render();},200)}};
var vueMounted = function(){}
/*注意以上代码由系统维护,非专业人士请勿修改*/
var myMethod = {}
for (var key in myMethod) {
    vueMethod[key] = myMethod[key];
}
var myMounted = null
if(myMounted!==null){vueMounted=myMounted;}
var myData = {}
/*把您定义的数据覆盖布局器自动识别的变量,考虑到兼容性，请下载查看head中重写的assign方法*/
Object.assign(vueData, myData);
var _t = this;
var Ctor = Vue.extend({
    //提前绑定的变量
    data: function() {
        return vueData;
    },
    //页面加载完 会执行方法 可以做一些初始化操作
    mounted: vueMounted,
    /*当前页面绑定的方法集合 与布局器节点一一映射即可 参照element ui文档*/
    methods: vueMethod
});
new Ctor().$mount('#magicalDragScene');
//echarts自动初始化
new McECharts().render();

</script>
</body>

</html>