<!DOCTYPE html><html>
<!--代码由www.magicalcoder.com可视化布局器拖拽生成 资源请自行下载到本地-->
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>登录界面</title>
<link href="https://lib.baomitu.com/element-ui/2.10.1/theme-chalk/index.css" rel="stylesheet"/>
<link href="http://lowcode.magicalcoder.com/magicalcoder/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.css" rel="stylesheet"/>
<!-- 如果要兼容ie8及以前版本 请打开注释--> <!-- <script src="http://www.magicalcoder.com/assets/ui/element/2.10.1/browser.min.js"></script><script src="http://www.magicalcoder.com/assets/ui/element/2.10.1/browser-polyfill.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.3/json3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/extension/dataTool.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://lib.baomitu.com/element-ui/2.10.1/index.js"></script>
<script src="http://www.magicalcoder.com/assets/js/common.js"></script>
<script src="http://lowcode.magicalcoder.com/magicalcoder/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.js"></script>
<style>

</style>

</head>
<body style="">
<div id="magicalDragScene" class="mc-root mc-ui-absolute-pane"><template>
	<i style="position: absolute; left: 20.5414%; top: 18.8571%; font-family: 楷体; font-size: 33px; width: 19.7452%;">考试管理系统</i>
	<el-input style="position: absolute; left: 47.6115%; top: 33.2857%; width: 25.4777%;" v-model="input" placeholder="请输入的学号/工号"></el-input>
	<el-input style="position: absolute; left: 47.7707%; top: 43.2857%; width: 25.4777%;" v-model="input" placeholder="请输入你的密码" show-password></el-input>
	<el-radio-group style="position: absolute; left: 49.7611%; top: 52.8571%; height: 16px;" v-model="radioGroup">
		<el-radio label="1">学生</el-radio>
		<el-radio label="2">老师</el-radio>
		<el-radio id="uuid30b32a75-8944-4e70-b397-467c2b8f0982" label="3">管理员</el-radio>
	</el-radio-group>
	<el-button style="position: absolute; left: 48.8076%; top: 60.1429%;">登录</el-button>
	<a style="position: absolute; left: 50%; top: 56.1429%; width: 17.4363%;" href="Register">没有账户，点击注册</a>
	<i style="position: absolute; left: 42.5955%; top: 34.6429%; width: 4.85669%;">账户：</i>
	<i id="uuid06c333dc-624d-4579-911a-3596b593b888" style="position: absolute; left: 42.7548%; top: 44.7857%; width: 4.85669%;">密码：</i>
</template></div>
<script>
//ajax库采用axios
//调试:打开浏览器控制台(F12),在代码中某行增加 debugger 即可调试
var vueData = {input : "",/*别删我*/
radioGroup : ""};
var vueMethod = {focus : function (e) {try {_t.fastKey.focusElem(e);}catch(e) {}},/*别删我*/
_tabClick : function(){setTimeout(function(){new McECharts().render();},200)}};
var vueMounted = function(){}
/*注意以上代码由系统维护,非专业人士请勿修改*/
var myMethod = {}
for (var key in myMethod) {
    vueMethod[key] = myMethod[key];
}
var myMounted = null
if(myMounted!==null){vueMounted=myMounted;}
var myData = {}
/*把您定义的数据覆盖布局器自动识别的变量,考虑到兼容性，请下载查看head中重写的assign方法*/
Object.assign(vueData, myData);
var _t = this;
var Ctor = Vue.extend({
    //提前绑定的变量
    data: function() {
        return vueData;
    },
    //页面加载完 会执行方法 可以做一些初始化操作
    mounted: vueMounted,
    /*当前页面绑定的方法集合 与布局器节点一一映射即可 参照element ui文档*/
    methods: vueMethod
});
new Ctor().$mount('#magicalDragScene');
//echarts自动初始化
new McECharts().render();

</script>
</body>

</html>